<section>
    <div>
        <h3 class='title'>Menu 1</h3>
		
		<!-- (angular-busy): div that shows when loading the data -->
        <div cg-busy="myPromise"></div>

        <p translate>PASSED_AS_TEXT</p>
        <p translate="PASSED_AS_ATTRIBUTE"></p>
        <p translate>{{ 'PASSED_AS_INTERPOLATION' }}</p>
        <p translate="{{ 'PASSED_AS_INTERPOLATION' }}"></p>
        <p translate="VARIABLE_REPLACEMENT" translate-values="{ name: 'PascalPrecht'}"></p>
        <p translate="VARIABLE_REPLACEMENT" translate-value-name="PascalPrecht"></p>
    </div>
</section>